<div class="column col-4-of-4">
  <% @propositions.each do |prop| %>
    <div class="proposition">
      <h1><%= prop.title %></h1>
      <h3><%= prop.trader.name %></h3>
      <p><%= prop.description %></p>

      <table>
        <tr>
          <td><%= prop.currency_to.name %></td>
          <td><%= prop.currency_from.name %></td>
        </tr>
      </table>

      <p>Votes: <%= prop.total_votes %></p>
    </div>
  <% end %>
</div>