<article class="proposition-page-container"> 
  <div class="grid center">
    <div class="column col-1-of-4 proposition-page-info">
      <h1><%= @proposition.title %></h1>
      <h3><a href=<%= trader_path(@proposition.trader.id) %>><%= @proposition.trader.name %></a></h3>
      <div id="pledge-details">
        <% if @user && @proposition.traded? == false %>
          <%= form_for @pledge, :url => investor_pledges_path(@user.id) do |f| %>
            <%= hidden_field :proposition_id, nil, :value => @proposition.id %>
            <%= f.label :currency %>
            <%= select_tag :pledge_currency, options_for_select(@user.wallet.available) %>
            <%= f.label :amount %>
            <%= number_field :pledge_amount, nil,  step: :any  %>
            <%= f.submit :CreatePledge %>
          <% end %>
        <% else %>
          <p>Please login or sign up to pledge<p>
        <% end %>
      </div>
    </div>
 
    <div id="coin-pair-chart" class="column col-3-of-4">
    </div>
  <div class="proposition-page-description">
    <p><%= @proposition.description %></p>
  </div>

  <div class="proposition-countdowns">
    <% if @proposition.traded? %>
      <p>Trade has been executed</p>
    <% else %>
      <p>Trade Time: <span id="count-down-trade"></span></p>
    <% end %>
    <% if @proposition.active? %>
      <p>Trade has expired</p>
    <% else %>
      <p>Expire Time: <span id="count-down-expire"></span></p>
    <% end %>
  </div>

  
  <div class="comment-container">
    <h2>Comments</h2>
    <% @proposition.comments.each do |comment| %>
    <div class="comment-individual" id="<%= "comment-#{comment.id}" %>">
      <h5> 
        <%= comment.user.name %>
      </h5>
      <p>
        <%= comment.body %>
      </p>
    </div>
    <% end %>
    <% if @user %>
      <%= form_for @comment, :url => proposition_comments_path(@proposition), remote: true do |f| %>
        
        <%= f.hidden_field :proposition_id, :value => @proposition.id %>

        <%= f.label :new_comment %>
        <%= f.text_area :body %>

        <%= f.submit :Publish %>
      <% end %>
    <% end %>
  </div>
  
  <script type="text/javascript">
    var curFrom = "<%= @proposition.currency_from.name %>";
    var curTo = "<%= @proposition.currency_to.name %>";
    baseUrl = "https://widgets.cryptocompare.com/";
    var scripts = document.getElementsByTagName("script");
    var embedder = scripts[ scripts.length - 1 ];
    var cccTheme = {"Header":{"displayFollowers":false},"Chart":{"animation":true}};
    (function (){
      var appName = encodeURIComponent(window.location.hostname);
      if(appName==""){appName="local";}
      var s = document.createElement("script");
      s.type = "text/javascript";
      s.async = true;
      var theUrl = baseUrl + 'serve/v1/coin/chart?fsym=' + curFrom + '&tsym=' + curTo;
      console.log(theUrl);
      s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
      $('#coin-pair-chart')[0].appendChild(s);
      })();
  </script>

  <script>
    var tradeClock = document.getElementById("count-down-trade");
    var expireClock = document.getElementById("count-down-expire");
    var tradeTargetDate = new Date("<%= @proposition.trade.to_s %>");
    var expireTargetDate = new Date("<%= @proposition.expire.to_s %>");
    tradeClock.innerHTML = countdown(tradeTargetDate).toString();
    expireClock.innerHTML = countdown(expireTargetDate).toString();
    setInterval(function() {
      tradeClock.innerHTML = countdown(tradeTargetDate).toString();
      expireClock.innerHTML = countdown(expireTargetDate).toString();
    })
  </script>

</article>

