<div id="hidden-nav">
  <div id="nav-inner">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">About</a></li>
      <!-- refactor for different users -->
      <% if current_trader %>
        <li><a href=<%= new_trader_proposition_path(current_trader.id) %>>Create Proposition</a></li>
        <li><a href=<%= edit_trader_registration_path %>>Edit Profile</a></li>
        <li><a href=<%= trader_wallet_index_path(current_trader.id)%>>Wallet</a></li>
      <% else %>
        <li><a href=<%= new_trader_session_path %>>Trader Login</a></li>
      <% end %>
      <% if current_investor %>
        <li><a href=<%= edit_investor_registration_path %>>Edit Profile</a></li>
        <li><a href=<%= investor_wallet_index_path(current_investor.id) %>>Wallet</a></li>
      <% else %>  
        <li><a href=<%= new_investor_session_path %>>Investor Login</a></li>
      <% end %>
    </ul>
  </div>
</div>