<!DOCTYPE html>
<html>
  <head>
    <title>CryptoCrowd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <!-- N.B. refactor into partials -->
    <div id="hidden-nav">
      <div id="nav-inner">
        <ul>
          <li><a href="/">Home</a></li>
          <li>About</li>
          <!-- refactor for different users -->
          <% if current_trader %>
            <li><a href=<%= new_proposition_path %>>Create Proposition</a></li>
          <% end %>
          <li><a href=<%= new_investor_session_path %>>Investor Login</a></li>
          <li><a href=<%= new_trader_session_path %>>Trader Login</a></li>
        </ul>
      </div>
    </div>
    
    <div id="menu-bars">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <div id="main-body">

      <header class="grid" style="margin-top: 1rem;">
        <div class="column col-2-of-4 icon">
          <h1>CryptoCrowd</h1>
        </div>
        <div class="column col-2-of-4" id="menu">
        </div>
      </header>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="grid" id="main-grid">
        <%= yield %>
      </div>

      <footer class="grid">
        <div>
          <h2>this is the footer</h2>
        </div>
      </footer>
    </div>
  </body>
</html>
