<!DOCTYPE html>
<html>
  <head>
    <title>CryptoCrowd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <header class="grid" style="margin-top: 1rem;">
      <div class="column col-2-of-4 icon">
        <h1>CryptoCrowd</h1>
      </div>
      <div class="column col-2-of-4" id="menu">
        <div id="menu-bars">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </div>
    </header>

    <div id="hidden-nav">
      <div id="nav-inner">
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>LogOut</li>
        </ul>
      </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="grid" id="main-grid">
      <%= yield %>
    </div>

    <footer class="grid">
      <div>
        <h2>this is the footer</h2>
      </div>
    </footer>
  </body>
</html>
