<!DOCTYPE html>
<html>
  <head>
    <title>CryptoCrowd</title>
    <%= csrf_meta_tags %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body id="container" class="grid">
    <% if current_investor %>
      <%= hidden_field_tag :current_id, current_investor.id %>
    <% end %>
    <% if current_trader %>
      <%= hidden_field_tag :current_id, current_trader.id %>
    <% end %>
  
    <%= render "layouts/hidden-nav" %>
    
    <header class="grid" style="margin-top: 1rem;">
      <div class="column col-2-of-4 icon">
        <h1><a href="/">CryptoCrowd</a></h1>
      </div>
      <div class="column col-2-of-4" id="menu">
        <%= render "layouts/tickers" %>
        <div id="menu-bars">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </div>
    </header>
      
    <div class="grid" id="main-grid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <%= render_now %>
    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
